.contenedor{
background-color:darkgray;
height: 150hv;
margin: 10%;
display: flex ;
flex-direction: column;
justify-content: center;
align-items: center;
}

.tituloquienes {
    margin: 0 30px 30px;
}
#mapa{
    padding: 10px 500px 20px;
}
.txtoquienes{
    margin: 0 30px 30px;
    font-size: medium;
}

.subquienes{
    margin: 0 30px 30px;
}
ul {
    list-style: none;
}
.txtquienes2{ 
    margin: 10px 30px 50px
}
p {
    font-size: larger;
}

.banner3{
    background: rgb(238,190,134);
background: linear-gradient(90deg, rgba(238,190,134,0.5) 0%, rgba(244,237,135,0.5494572829131652) 52%);
}
.banner2{
    background: rgb(125,124,123);
    background: linear-gradient(90deg, rgba(125,124,123,0.3477766106442577) 0%, rgba(223,223,216,0.4458158263305322) 52%);
}
.banner{
    background: whitesmoke;

}
.contenedorfooter{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.p-2.contacto{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.p-2.ubicacion{
    display: flex !important; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.p-2.redes{
    display: flex !important; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

body{
    margin: 0;
    padding: 0;
}
