body{
    display: flex;   
   
}
.contenedordepagina{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 2000px;
}
.contenedor_lat2{
    display: flex ;
    justify-content: center;
    align-items:  	center;
    width: 10%;
}
.contenedor{
background-color:rgba(0,0,0,0.15);
height: 100%;
margin: 1%;
display: flex ;
flex-direction: column;
justify-content: center;
align-items:  	center;
}
.contenedorPrincipal{
    display: flex;
    height: 100%;
    max-height: 220px;
    background: rgb(142,235,137);
    background: linear-gradient(180deg, rgba(142,235,137,0.44021358543417366) 40%, rgba(18,94,26,1) 100%); 
 align-items: center;
 align-content: flex-end;
 
}
.contenedorlogo{
   /* background-color: aqua;*/
    display:flex ;
    width: 25%;
    align-content: center;
}

.contenedorNombre{
  /* background-color: blue;*/
    display: flex; 
    width: 60%;
}
.contenedor_login{

    display: flex; 
    flex-direction: column;
    height: 200px;
    width: 10%;
    align-items: center;
    justify-content: center
}
.botonlogin{
    display: flex;
   /*background-color: aqua;*/
}
.espaciologin{
    background-color: blueviolet;
    display: flex;
    height: 60%;

}
@media( max-width: 700px){
    .contenedorNombre{
        
        display: none;
        height: none;
    }
    .contenedorlogo{
        /* background-color: aqua;*/
         display:flex ;
         width: 50%;
         align-content: center;
     }
    .contenedor_login{

        display: flex; 
        flex-direction: column;
        height: 200px;
        width: 50%;
        align-items:center;
        margin-top:2% ;
        justify-content: flex-start;
    }


}
a{
    text-decoration: none;
}
nav a{
    font-weight: 400;
    padding-right: 10px;

}
nav a:hover{
    color: grey;
}
.tituloquienes {
    margin: 0 30px 30px;
}
#mapa{
    padding: 10px 500px 20px;
}
.txtoquienes{
    margin: 0 30px 30px;
    font-size: medium;
}

.subquienes{
    margin: 0 30px 30px;
}
ul {
    list-style: none;
}
.txtquienes2{ 
    margin: 10px 30px 50px
}
p {
    font-size: larger;
}

.banner3{
    
    background: rgb(142,235,137);
    background: linear-gradient(180deg, rgba(142,235,137,0.44021358543417366) 40%, rgba(18,94,26,1) 100%);
    
}
.banner2{
    background: rgb(125,124,123);
    background: linear-gradient(90deg, rgba(125,124,123,0.3477766106442577) 0%, rgba(223,223,216,0.4458158263305322) 52%);
}
.banner{
    background: whitesmoke;

}
.contenedorfooter{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.p-2.contacto{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.p-2.ubicacion{
    display: flex !important; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.p-2.redes{
    display: flex !important; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

body{
    margin: 0;
    padding: 0;
}

