.tituloquienes {
    margin: 0 30px 30px;
}
.txtoquienes{
    margin: 0 30px 30px;
    font-size: medium;
}
ul {
    list-style: none;
}
.txtquienes2{ 
    margin: 10px 30px 50px
}
p {
    font-size: larger;
}

.banner{
    background-image:url(../img/el-impenetrable.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
}
.blog-footer{
    display: flex;
    flex-direction: column;

}