{% extends 'basetemplate.html'%}
{% load static%}

{%block contenido%}

 <h1 class="tituloquienes"> Quienes somos   </h1>
    <p class="txtoquienes"> La Fundación Amigos del Arte y Turismo, con Personería Jurídica Nº452/14 es una Entidad no lucrativa, con el fin de vincular las expresiones culturales de la región, la idiosincrasia de la gente y el turismo a través del ARTE.
    Nuestra meta es promover el Arte y el Turismo, rescatando, revalorizando e incluyendo todas las manifestaciones artísticas y culturales, en salvaguarda de nuestra identidad, y en defensa del medio ambiente.
    
        </p>  

    <h5 class="tituloquienes"> Nuestros inicios</h5>

    <p class="txtoquienes"> La Fundación tiene su origen en la Inauguración del Hotel Portal del Impenetrable el 29 de septiembre de 2012, 
        acontecimiento en el que se reunieron el Dr. Alfredo Lázara Valdéz (propietario del hotel), el Dr Oscar Alberto Nievas (Intendente de Castelli) y Fabriciano Gómez 
        (presidente de la Fundación Urunday y autor de la obra “El Portal del Impenetrable”). En ese acto Fabriciano propone la idea de organizar un encuentro de escultores 
        en la Plaza San Martín, en junio de 2013.
        El 1º de marzo de 2015 quedó formalmente constituida la Fundación Amigos del Arte y Turismo,
        con la siguiente conformación del consejo:
    </p>
     <h5 class="tituloquienes"> Primera Comisión directiva </h5>
    <ul>
        <li>Presidente: Dr. Alfredo Lázara Valdéz;</li>
        <li>Vicepresidente: DG René Bertolucci; </li>
        <li>Secretaria: Prof. Elena Díaz de Lázara;</li>
        <li>Tesorera: Arq. Yolanda M. Rausch; Vocal: Dr. Jorge Kleisinger.</li>
        <br>

    <h5 class="tituloquienes"> Comisión directiva actual </h5>
    <ul>
        <li>Presidente: DG. Rene Bertolucci </li>
        <li>Vicepresidente: Arq. Yolanda M. Rausch </li>
        <li>Secretaria: Prof. Marisa Santamaría</li>
        <li>Tesorera: Prof. Elena Díaz de Lázara</li>
        <li>Vocal: Dr. Jorge Kleisinger</li>
    </ul>    

 <!--    <p class="txtquienes2">Desde el año 2012, contamos con el apoyo, asesoramiento y acompañamiento de la 
            Fundación Urunday, principalmente en la persona de Fabriciano Gómez. -->
        </p>
     

    <p class="subquienes"><b>OBJETIVOS GENERALES</b></p>       
    
        




{%endblock contenido%}