{% extends 'basetemplate.html'%}
{% load static%}

{%block contenido%}


    <h1 class="tituloquienes"> Quienes somos.....</h1>

    <p class="txtoquienes"> La Fundación tiene su origen en la Inauguración del Hotel Portal del Impenetrable el 29 de septiembre de 2012, 
        acontecimiento en el que se reunieron el Dr. Alfredo Lázara Valdéz (propietario del hotel), el Dr Oscar Alberto Nievas (Intendente de Castelli) y Fabriciano Gómez 
        (presidente de la Fundación Urunday y autor de la obra “El Portal del Impenetrable”). En ese acto Fabriciano propone la idea de organizar un encuentro de escultores 
        en la Plaza San Martín, en junio de 2013.
        El 1º de marzo de 2015 quedó formalmente constituida la Fundación Amigos del Arte y Turismo,
        con la siguiente conformación del consejo:
    </p>
    <ul>
        <li>Presidente: Dr. Alfredo Lázara Valdéz;</li>
        <li>Vicepresidente: DG René Bertolucci; </li>
        <li>Secretaria: Prof. Elena Díaz de Lázara;</li>
        <li>Tesorera: Arq. Yolanda M. Rausch; Vocal: Dr. Jorge Kleisinger.</li>
    </ul>       
            

        <p class="txtquienes2">Desde el año 2012, contamos con el apoyo, asesoramiento y acompañamiento de la 
            Fundación Urunday, principalmente en la persona de Fabriciano Gómez.
        </p>
    
        
    #ivann

{%endblock contenido%}